<h3> Gestion Usuarios</h3>
<p>Gestione sus usuarios</p>

<table>

  <tr>
    <th>Identificador</th>
    <th>Nombre</th>
    <th>Accion</th>
  </tr>
  <tr *ngFor="let usuario of usuarios">
    <td>{{usuario.id}}</td>
    <td>{{usuario.nombre}}</td>

<!--event bindin, (nombre del evento) -->
    <th><button (click)="eliminar(usuario)">Eliminar</button>
    <!--al utilizar [] se necesita mandar la rut
      a en arreglos de string /menu/ver-usuario/usuario.id-->
    <a [routerLink]="
    ['/menu','ver-usuario',usuario.id]
    "><button>Ver</button> </a>
    </th>
  </tr>
</table>

<!--NGFOR con directivas iteramos para recorrer todos los atributos del arreglo-->

<!--interpolacion-->

